

/* Styles for the box containing the slideshow and tools */
div#HERO {
    position: relative;
    grid-area: 3 / 1 / 3 / 7;
    background-color: lightgray;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center; 
    text-align: center; 
    flex-direction: column;
    
 }


 /* Styles for the left and right arrows to move through the slideshow */
 div#HERO div#lbPrev, div#HERO div#lbNext {
    position: absolute;
    width: 5%;
    height: 5%;
    color: #CCC1B8;
    text-shadow: 2px 2px 2px black;
    font-size: 20px;
    font-weight: bold;
    top: 118px;
    line-height: 30px;
    text-align: center;
    z-index: 1;
    background: rgba(0,0, 0, 0.0);
    cursor: pointer;
    user-select: none;
 }
 

 
 /* Horizontal position of the left arrow */
 div#HERO div#lbPrev {
    left: 70px;
    margin-top: 60px;
 }
 
 /* Horizontal position of the right arrow */
 div#HERO div#lbNext {
    right: 70px;
    margin-top: 60px;
 }
 
 /* Styles for the box containing slide images */
 div#HERO div#lbImages {
    display: flex;
    flex-direction: row;     /* Place images within a flexbox on a single row */
    flex-wrap: nowrap;
    width: 80%;
    height: 40%;
    overflow: hidden;        /* Hide images which overflow the box border */
    
    
 }

 
 /* Styles for the box containing the slide counter */
 div#HERO div#lbCounter {
    position: absolute;
    z-index: 1;
    width: 70px;
    height: 26px;
    line-height: 20px;
    font-size: 20px;
    background-color: rgba(1, 33, 96, 0.5);
    border-radius: 4px;
    text-align: center;
    color: white;
    top: 75%;
    
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
    padding: 3px;
    user-select: none;
 }
 
 
 /* Styles for images within the slideshow box */
 div#lbImages img {
    display: block;
    width: 40%;
    height: auto;
    margin-right: 13px;
    filter: opacity(0.5);
    cursor: pointer;
    outline: 2px solid #003664;
    box-shadow: 3px 3px 10px black;  
    user-select: none;   
 }
 
 /* Hovering styles for images within the slideshow box */
 div#lbImages img:hover {
    filter: opacity(1);
 }
 
 
 /* Project 5 Overlay Styles */
 /* Styles for the overlay */
 div#lbOverlay {
    position: fixed;                        /* Overlay is fixed on screen */
    z-index: 1;                             /* Overlay sits on top of other content */
    width: 100%;                            /* Full width */
    height: 100%;                           /* Full height */
    top: 0;
    left: 0;
    background-color: rgba(23, 46, 198, 0.345);
    display: flex;
    justify-content: center;
    align-items: center;
 }
 
 /* Styles for the figure box within the overlay */
 div#lbOverlay figure {
    display: block;
    width: 80%;
    max-width: 50%;
 }
 
 /* Styles for the image within the overlay */
 div#lbOverlay figure img {
    display: block;
    margin: auto;
    width: 50%;
    height: auto;
    box-shadow: 5px 5px 20px black;
    animation-name: zoom;      /* animate the opening of the figure */
    animation-duration: 1s;    /* over a 1-second interval */
 }
 
 /* Styles for the caption within the overlay */
 div#lbOverlay figure figcaption {
    text-align: center;
    font-size: 1.25em;
    color: white;
    margin-top: 10px;
    animation-name: zoom;      /* animate the opening of the figure */
    animation-duration: 1s;    /* over a 1-second interval */  
 }
 
 /* Styles for the overlay close button */
 div#lbOverlay div#lbOverlayClose {
    position: absolute;
    top: 20px;
    right: 40px;
    color: #f1f1f1;
    font-size: 40px;
    cursor: pointer;
    user-select: none;
 }
 
 /* Hovering styles for the modal window close button */
 div#lbOverlay div#lbOverlayClose:hover {
    color:  #CCC1B8;
    text-shadow: 3px 3px 0px black;
 }
 
 /* Keyframe animation for the opening of the modal window figure and caption */
 @keyframes zoom {
   from {transform:scale(0)}
   to {transform:scale(1)}
 }
 