@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Quicksand:wght@300..700&display=swap');



.parent {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 40px 150px 400px 400px;
  grid-column-gap: 10px;
  grid-row-gap: 20px;
  font-family: 'Montserrat', 'PT Sans', 'Quicksand', sans-serif;
  background-color: darkgray;
  }
  
 

.topnav {
  grid-area: 1 / 1 / 2 / 7;
  overflow: hidden;
  text-align: center; 
  margin-bottom: -10px;
  background-color: black;
}
.topnav a {
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  
}
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
.intro{
  grid-area: 2 / 1 / 2 / 7;
  background-color: lightgray;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 20px;
}
.intro a{
 color: black;
  text-decoration: none;
}
.projects{
  grid-area: 3 / 1 / 3 / 7;
  background-color: lightgray;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 20px;
}
.Tasks{
  grid-area: 4 / 1 / 4 / 3;
  background-color: lightgray;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 20px;
}
.taskList {
  grid-area: 4 / 3 / 4 / 7;
  background-color: lightgray;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 20px;
}
.rps{
  display: flex;
  height: 60%;
  margin-left: 24%;
}
.gform{
  margin-top: -13%;
  margin-left: 5%;
}

.selections{
  display: flex;
  float:right;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 30%;
  height: 10%;
  padding: 10px;
  margin-top: -20%;
  margin-right: 5%;
  justify-content: space-between;
  background-color: thistle;
}
#selection{
  display: none;
}
#rock{
  background-color:aliceblue;
  border:none;
  border-radius: 10px;
  width: 20%;
}
#paper{
  background-color:aliceblue;
  border:none;
  border-radius: 10px;
  width: 20%;
}
#scissors{
  background-color:aliceblue;
  border:none;
  border-radius: 10px;
  width: 20%;
}
.results{
  display: flex;
  float:right;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 30%;
  height: 77%;
  padding: 10px;
  margin-right: 5%;
  margin-top: -15%;
  background-color: thistle;
  
}
#result{
  display: none;
 
}
.footer{
  grid-area: 5 / 1 / 5 / 7;
}
.center{
  text-align: center;
  
}
.projects input[type="number"] {
  width: 5%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: inherit;
}
.projects input[type="submit"] {
  background-color: black;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
}
.projects input[type="reset"] {
  background-color: black;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
}

.projects input[type="submit"]:hover {
  background-color: #ddd;
  color: black;
}
.projects input[type="reset"]:hover {
  background-color: #ddd;
  color: black;
}
table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
}
th, td {
  border: 1px solid #444;
  padding: 10px;
  text-align: left;
}
th {
  background-color: #eee;
}
#taskForm{
  display:none;
  margin-left: 25%;
  margin-top: -5%;
}

.completed{
  background-color: green;
  color: white;
}
.overdue{
  background-color: red;
  color: white;
}
#task-list{
  max-height: 400px;
  overflow-x: auto;
  overflow-y: auto;
}
