@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Quicksand:wght@300..700&display=swap');



.parent {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 40px 400px 60px;
  grid-column-gap: 10px;
  grid-row-gap: 20px;
  font-family: 'Montserrat', 'PT Sans', 'Quicksand', sans-serif;
  
}
body{
  background-color: darkgray;

}

.topnav {
  grid-area: 1 / 1 / 2 / 7;
  overflow: hidden;
  text-align: center; 
  margin-bottom: -10px;
}
.topnav a {
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  
}
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
#tnav{
  background-color: black;
}
.intro{
  grid-area: 2 / 1 / 3 / 4;
}
#welcome{
  background-color: lightgray;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
}
#welcome img{
  
  border-radius: 10px;
  float: right;
  height: 90%;
  width: 30%;
  margin-top: -4%;
}
.hero{
  grid-area: 2 / 4 / 3 / 7;
 
}
#text{
  background-color: lightgray;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
}
.hero img {
  max-width: 100%;
  height: 100%;
}
.footer{
  grid-area: 3 / 1 / 4 / 7;
}
.center{
  text-align: center;
  
}

.words{
  font-size: 20px;
  font-weight: 400;
  color: black;
  text-shadow: 1px 2px 2px rgba(49, 68, 117, 0.351);
}

